.idea/workspace.xml
.idea/vcs.xml
.idea/time-travelers.iml
.idea/modules.xml
.idea/misc.xml

/vendor/
python-spider/.idea/workspace.xml
python-spider/.idea/vcs.xml
python-spider/.idea/python-spider.iml
python-spider/.idea/modules.xml
python-spider/.idea/misc.xml
python-spider/.idea/encodings.xml
